title{
	font-family: times new roma
}

title{
	text-align: left;

}

title{
	font-size: 70px
}

p{
	font-family: mv boli

}

p{
	font-size: 40px
}
body {background-color: white;
}